{% extends "public/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% load static %}

{% block content %}
<div class="row my-3 p-3">
    <div class="cssmarquee">
<h1> Welcome Back {{user.username}}</h1>
</div>
</div>
<div class="container">
    <div class="col-md-7 shadow-lg mx-auto p-4 info">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-4">
                    <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle border"
                        alt="{{request.user.username}}" id="profile_pic">
                <h5 class="ml-4 p-2">{{request.user.username}}</h5>

                </div>
            </div>
            <div class="col-md-8">
                <!-- <h5 class="">UserName {{request.user.username}}</h5> -->
                <!-- <h5>Full Name: {{request.user.first_name}} {{request.user.last_name}}</h5> -->
                <div class="d-flex justify-content-evenly">
                <p class="ml-1" id="bio">About</p>
                <p id="bio">{{request.user.profile.biography}}</p>
                </div>
                <div class="d-flex justify-content-evenly">
                <p class="ml-5" id="locate">Location</p>
                <p id="locate">{{request.user.profile.location}}</p>
                </div>
                <!-- <hr class="hr"> -->
                <p class="profile text-center">
                    <a href="{% url 'update' %}"><button type="button" class="btn"><i
                                class="fa-solid fa-pen-to-square"></i>Edit profile</button></a>

                    <a href="{% url 'home' %}"><button type="button" class="btn"><i
                                class="fa-solid fa-angles-left"></i>Back Home</button></a>
                </p>


            </div>



        </div>
    </div>


    {% endblock content %}